<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wry.usercenter.mapper.MaterialMapper">

    <resultMap id="BaseResultMap" type="com.wry.usercenter.model.domain.Material">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="materialName" column="materialName" jdbcType="VARCHAR"/>
            <result property="materialQuantity" column="materialQuantity" jdbcType="INTEGER"/>
            <result property="materialType" column="materialType" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,materialName,materialQuantity,
        materialType,isDelete
    </sql>
</mapper>
