<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wry.usercenter.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.wry.usercenter.model.domain.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productName" column="productName" jdbcType="VARCHAR"/>
            <result property="productQuantity" column="productQuantity" jdbcType="INTEGER"/>
            <result property="productType" column="productType" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,productName,
        productQuantity,productType,isDelete
    </sql>
</mapper>
